:root {
    --background-color-body: #c52e35;
    --background-color-main: #f8faf9;
    --button-color-primary: #357b70;
    --button-color-secondary: #009b4e74;
    --button-font-color: #fff;
    --border-color: rgba(43, 43, 43, 0.4);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background-color-body);
}

#loadingMessage-container {
    display: none;
}

#loadingMessage-container.is-visible {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 50px;
    z-index: 999;
    overflow: auto;
}

.loadingMessage {
    position: relative;
    text-align: center;
    padding: 30px 30px;
    width: 594px;
    height: auto;
    margin: auto;
    background-color: var(--button-color-primary);
}

main {
    margin: auto;
    padding: 20px;
    max-width: 700px;
    text-align: center;
    background-color: var(--background-color-main);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    line-height: 2;
}

h2 {
    font-size: 30;
    font-weight: 600;
    line-height: 1.8;
}

.logo-img {
    max-width: 100px;
    margin: 0 30px;
}

.pokemon-list {
    padding: 0;
}

.pokemon-list > li {
    list-style-type: none;
}

.pokemonEntry {
    background-color: var(--button-color-primary);
    border-color: var(--border-color);
    color: var(--button-font-color);
    width: 90%;
    padding: 10px 0;
}

#pokemonDetails-container {
    display: none;
}

#pokemonDetails-container.is-visible {
    display: flex;
    position: fixed;
    background-color: var(--button-color-secondary);
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 50px;
    z-index: 998;
    overflow: auto;
}

.pokemonDetails {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    width: 594px;
    height: auto;
    margin: auto;
    background-color: var(--button-color-primary);
}

.pokemonDetails > p {
    text-align: left;
}

.pokemon-img {
    width: 150px;
}

.pokemonDetails-close {
    position: absolute;
    top: 0;
    right: 0;
}

@media all and (max-width: 400px) {
    .pokemonDetails {
        flex-direction: column;
        height: auto;
    }
}

@media all and (max-width: 750px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }
}
